
.sfondo{
	-fx-background-image: url("view/images/various/sfondo.gif");  
	-fx-background-repeat: repeat;
/* 	-fx-background-size: contain;*/
}

.button {
    -fx-border-color: #6b4208;
    -fx-border-width: 2;
    -fx-border-curve: yes;
    -fx-background-radius: 0;
    -fx-background-color: #d1ca85;
    -fx-font: 13 Papyrus;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.label {
	 -fx-font: 15 Papyrus;
    -fx-text-fill: #6b4208;
   /*  -fx-font-weight: bold; */
}

.scroll-bar{
    -fx-background-color:transparent;
  /*  -fx-border-color:transparent; */
    
	-fx-opacity: 1;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 5em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {

    -fx-shape: " ";
    -fx-padding:2;
}


/*
.tab{
	-fx-background: red;
}*/

.splitPan {
  -fx-background-color: #d1ca85; /* colore di sfondo    */
  -fx-border-color: #d1ca85;
    -fx-border-width: 2;
    -fx-border-curve: yes;
  /* -fx-border: 2px solid #d1ca85; bordo dell'elemento */
  -fx-color: #d1ca85;               /* colore dello sfondo giusto   */
 /*  -fx-font-weight: bold;         /* testo in grassetto  */
  -fx-padding: 0;                /* padding             */
  -fx-height: 25px;              /* altezza             */
  -fx-width: 80px;               /* larghezza           */
}