
.percorsoNobilta{
	-fx-background-image: url("nobility.jpg");  
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

.map{
	-fx-background-image: url("legno.png");  
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

.sfondo{
	-fx-background-image: url("sfondo.gif");  
	-fx-background-repeat: repeat;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #8c8a3a;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
